[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
numpy = "*"
pandas = "*"
requests = "*"
mysql-connector-python = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
server = "uvicorn app.main:app --reload --port 8000"
